@use '@modules/shared/styles' as *;

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  &:hover &__title {
    text-decoration: underline;
  }

  &__img {
    height: 30vh;
    object-fit: contain;
  }

  &__title a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    svg {
      margin: 0 0.5rem !important;
    }
  }
}

html[data-mode='light'] .card {
  border: 1px solid $gray-color;
  background-color: $gray-color;

  &:hover {
    border: 1px solid $white-color;
  }

  &__title {
    color: $white-color;

    svg {
      fill: $white-color;
    }
  }
}

html[data-mode='dark'] .card {
  border: 1px solid $gray-color;
  background-color: $white-color;

  &:hover {
    border: 1px solid $white-color;
  }

  &__title {
    color: $gray-color;

    svg {
      fill: $gray-color;
    }
  }
}
