.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.1);

    .card__title {
      text-decoration: underline;
    }
  }

  .card__img {
    height: 30vh;
    object-fit: contain;
  }

  .card__title a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: inherit;

    svg {
      margin: 0 0.5rem !important;
    }
  }
}

html[data-mode='light'] .card {
  border: 1px solid var(--gray-color);
  background-color: var(--gray-color);

  &:hover {
    border: 1px solid var(--white-color);

    .card__title {
      color: var(--white-color);
    }
  }

  .card__title {
    color: var(--white-color);

    svg {
      fill: var(--white-color);
    }
  }
}

html[data-mode='dark'] .card {
  border: 1px solid var(--gray-color);
  background-color: var(--white-color);

  &:hover {
    border: 1px solid var(--white-color);

    .card__title {
      color: var(--gray-color);
    }
  }

  .card__title {
    color: var(--gray-color);

    svg {
      fill: var(--gray-color);
    }
  }
}
