@use '@modules/shared/styles' as *;

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - $navbar-height);
  color: $gray-color;
}
