@use '@modules/shared/styles' as *;

.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - $navbar-height);
  overflow-y: auto;
}
