.sign {
  display: flex;
  align-items: center;
  height: 100vh;

  .sign__logo,
  .sign__form {
    flex: 0.5;
  }

  .sign__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    a {
      text-decoration: none;
      color: inherit;
    }
  }

  .sign__form__layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
    border-radius: 0.625rem;

    > * {
      margin: 1.25rem;
    }

    .sign__title {
      font-size: 2rem;
      display: flex;
      align-items: flex-start;
      text-align: left;
      width: 100%;
      margin: 1.25rem 0 !important;
      padding: 0 1rem !important;
    }

    .sign__form {
      display: flex;
      align-items: center;
      flex-direction: column;

      > * {
        margin: 1rem 0;
      }

      button {
        width: 100%;
      }
    }
  }
}

html[data-mode='light'] .sign {
  background-color: var(--gray-color);

  .sign__logo {
    color: var(--white-color);
  }

  .sign__form__layout {
    background-color: var(--white-color);
    box-shadow: 0 0 1rem 0.75rem rgba(0, 0, 0, 0.3);

    .sign__user__validate a {
      color: var(--blue-color);
    }
  }
}

html[data-mode='dark'] .sign {
  background-color: var(--dm-black-color);
  color: var(--white-color);

  .sign__logo {
    color: var(--white-color);
  }

  .sign__form__layout {
    background-color: var(--dm-form-bg-color);
    box-shadow: 0 0 1rem 0.75rem rgba(255, 255, 255, 0.3);

    .sign__title {
      color: var(--white-color);
    }

    .sign__form {
      > * {
        label {
          color: var(--white-color);
        }

        input {
          color: var(--white-color);
        }
      }

      .MuiTextField-root {
        border: 1px solid var(--white-color) !important;
      }
    }

    .sign__user__validate a {
      color: var(--dm-button-color);
    }
  }
}

@media screen and (max-width: 768px) {
  .sign {
    flex-direction: column;

    .sign__form__layout {
      width: 50%;
    }
  }
}

@media screen and (max-width: 425px) {
  .sign {
    flex-direction: column;

    .sign__form__layout {
      width: unset;
    }
  }
}
