@use '@modules/shared/styles' as *;

.sign {
  display: flex;
  align-items: center;
  height: 100vh;

  &__logo,
  &__form {
    flex: 0.5;
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    a {
      text-decoration: none;
      color: inherit;

      svg {
        fill: $white-color;
      }
    }
  }

  &__form__layout {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 30%;
    border-radius: 0.625rem;

    > * {
      margin: 1.25rem;
    }
  }

  &__title {
    font-size: 2rem;
    display: flex;
    align-items: flex-start;
    text-align: left;
    width: 100%;
    margin: 1.25rem 0 !important;
    padding: 0 1rem !important;
  }

  &__form {
    width: 80%;

    > * {
      margin: 1rem 0;
    }

    button {
      width: 100%;
    }
  }

  &__user__validate a {
    text-decoration: none;
  }
}

html[data-mode='light'] .sign {
  background-color: $gray-color;

  &__logo {
    color: $white-color;
  }

  &__form__layout {
    background-color: $white-color;
    box-shadow: 0 0 1rem 0.75rem rgba(0, 0, 0, 0.3);
  }

  &__user__validate a {
    color: $blue-color;
  }
}

html[data-mode='dark'] .sign {
  background-color: $dm-black-color;
  color: $white-color;

  &__logo {
    color: $white-color;
  }

  &__form__layout {
    background-color: $dm-form-bg-color;
    box-shadow: 0 0 1rem 0.75rem rgba(255, 255, 255, 0.3);
  }

  &__form {
    label {
      color: $white-color;
    }
  }

  &__user__validate a {
    color: $dm-button-color;
  }
}

@media screen and (max-width: 768px) {
  .sign {
    flex-direction: column;

    &__form__layout {
      width: 50%;
    }
  }
}

@media screen and (max-width: 425px) {
  .sign {
    flex-direction: column;

    &__form__layout {
      width: unset;
    }
  }
}
