// Light Mode Colors
$black-color: #000;
$white-color: #ffffff;
$gray-color: #808080;
$gray-color-1: #bfbfbf;
$gray-color-2: #a5a4a4;
$scroll-white-color: #e1e1e1;
$blue-color: #0000ff;

// Dark Mode Colors
$dm-black-color: #141414;
$dm-form-bg-color: #404040;
$dm-button-color: #6666eb;
