@use '@modules/shared/styles' as *;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 100;
  height: $navbar-height;
  padding: 0 1.25rem;
  gap: 1rem;

  a {
    text-decoration: none;
    color: inherit;
  }

  svg {
    fill: $white-color;
  }

  &__center {
    flex: 1;
  }

  &__searchBar {
    padding: 0 0.5rem;
    display: flex;
    align-items: center;
    border-radius: 0.5rem;

    input {
      flex: 1;
      padding: 1rem 0;
      background-color: inherit;
      border: none;
      outline-width: 0;
    }
  }

  &__unorderedList {
    padding: 0;
    display: flex;

    li {
      margin: 0.625rem;
      padding: 0.5rem;
      list-style: none;

      > svg {
        cursor: pointer;
      }
    }
  }

  &__profile-avatar {
    background-color: transparent;
    border: 1px solid $white-color;

    span {
      font-size: 0.75rem;
    }
  }
}

html[data-mode='light'] .header {
  background-color: $gray-color;
  color: $white-color;

  &__center {
    svg {
      fill: $gray-color;
    }
  }

  &__searchBar {
    background-color: $white-color;
  }
}

html[data-mode='dark'] .header {
  background-color: $gray-color;
  color: $white-color;

  &__center {
    svg {
      fill: $gray-color;
    }
  }

  &__searchBar {
    background-color: $dm-form-bg-color;

    input {
      color: $white-color;
    }
  }
}

@media screen and (max-width: 425px) {
  .header {
    height: 10vh;

    &__center {
      flex: unset;
      width: 40%;
    }

    &__searchBar {
      input {
        flex: unset;
        width: 60%;
        padding: 0.5rem 0;
      }
    }

    &__unorderedList {
      li {
        padding: 0;
      }
    }
  }
}
