:root {
  // Light Mode Colors
  --black-color: #000;
  --white-color: #fff;
  --gray-color: #808080;
  --scroll-white-color: #e1e1e1;
  --blue-color: #0000ff;

  // Dark Mode Colors
  --dm-black-color: #141414;
  --dm-form-bg-color: #404040;
  --dm-button-color: #6666eb;
}
