@use '@modules/shared/styles' as *;

.product {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  height: calc(100vh - $navbar-height);

  span {
    font-weight: bold;
  }

  &__imgContainer {
    @include flexCenter;

    svg {
      cursor: pointer;
      opacity: 0.5;

      &:hover {
        border-radius: 50%;
        opacity: 1;
      }
    }
  }

  &__img {
    height: 25rem;
    width: 25rem;
    margin: 0.5rem;
    object-fit: contain;
    border-radius: 0.5rem;
  }

  &__content > * {
    padding: 0.5rem;
  }

  &__button {
    display: flex;
    align-items: center;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 0.5rem;
    opacity: 0.5;
    background-color: inherit;

    &:hover {
      opacity: 1;
    }

    span {
      text-transform: uppercase;
    }
  }
}

html[data-mode='light'] .product {
  color: $gray-color;

  span {
    color: $black-color;
  }

  &__imgContainer {
    svg:hover {
      fill: $white-color;
      background-color: $black-color;
    }
  }

  &__img {
    border: 1px solid $gray-color;
  }

  &__content > * {
    padding: 0.5rem;
  }

  &__button {
    svg {
      fill: $black-color;
    }

    &:hover {
      border: 1px solid $black-color;
      color: $black-color !important;
    }
  }
}

html[data-mode='dark'] .product {
  color: $white-color;
  background-color: $dm-form-bg-color;

  span {
    color: $white-color;
  }

  &__imgContainer {
    svg {
      fill: $white-color;

      &:hover {
        fill: $black-color;
        background-color: $white-color;
      }
    }
  }

  &__img {
    border: 1px solid $white-color;
  }

  &__content > * {
    padding: 0.5rem;
  }

  &__button {
    svg {
      fill: $white-color;
    }

    &:hover {
      border: 1px solid $white-color;
      color: $white-color !important;
    }
  }
}
