@use '@modules/shared/styles' as *;

.profileMenu {
  background-color: $white-color !important;

  &__icon {
    padding-right: 0.5rem;
  }

  .ant-menu-item {
    @include flexCenter;
    justify-content: flex-start;

    &-group-title {
      display: flex;
      align-items: center;
    }
  }
}

html[data-mode='light'] .profileMenu {
  .ant-menu {
    &-item {
      &-selected {
        color: $white-color;
      }
    }

    &-vertical {
      border-inline-end: 0;
    }
  }
}

html[data-mode='dark'] .profileMenu {
  .ant-layout-sider-children {
    background: $dm-form-bg-color;
    border: solid $white-color;
    border-width: 0 1px 0 0;
  }

  .ant-menu {
    background: $dm-form-bg-color;

    &-item {
      &,
      &-group-title,
      &:hover {
        color: $white-color !important;
      }

      &:hover {
        background-color: $gray-color !important;
      }
    }
  }
}
